<br><br><br>
<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Pesquisa de Aeronave</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="input-group">
                <span class="input-group-btn">
                    <a href="/#!/cadastro/aeronave" role="button" class="btn btn-outline-primary">
                        Novo
                    </a>
                </span>
                <input class="form-control" placeholder="Filtro" ng-model="filtro" > <!--style="text-transform:uppercase"-->
            </div>
        </div>
    </div>

    <hr>

    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Aeronave</th>
        </tr>
        </thead>
        <tbody>
        <tr scope="row" ng-repeat="cidade in cidades | filter: filtro">
            <td>{{cidade.cidade}}</td>
            <td>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-primary">Editar</button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>