<br><br><br>
<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{rota}}</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <form name="formCadastroAeronave" ng-submit="salvar()">
        <div class="row">
            <!--<div class="form-group">
                <label>Número do Vôo: {{voo.numero}}</label>
                <input class="form-control" name="numero" ng-model="voo.numero" placeholder="ex: 2406">
            </div>-->
        </div>
        <div class="row">
            <div class="form-group col-sm-4">
                <label>Cidade de Partida: {{voo.cidadeDePartida}}</label>
                <input class="form-control" name="cidadeDePartida" ng-model="voo.cidadeDePartida">
            </div>

            <div class="form-group col-sm-4">
                <label>Cidade de Destino: {{voo.cidadeDeDestino}}</label>
                <input class="form-control" name="cidadeDeDestino" ng-model="voo.cidadeDeDestino">
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-3">
                <label>Data e Hora: {{voo.dataEHora}}</label>
                <input class="form-control" name="dataEHora" ng-model="voo.dataEHora">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <label for="aeronave">Aeronave:</label>
                <select id="aeronave" class="form-control" ng-model="aeronaveId">
                    <option
                            name="estado"
                            value="{{aeronave.id}}"
                            ng-repeat="aeronave in aeronaves">
                        {{aeronave.nome}} - {{aeronave.capacidadePassageiro}}
                    </option>
                </select>
            </div>
        </div>

        <!--<div id="conexaoCheck" class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="conexao">
            <label class="form-check-label" for="conexao">Vôo com Conexão?</label>
        </div>-->

        <div ng-show="">
            asdf
        </div>

        <div class="float-right">
            <a href="#" class="btn btn-outline-danger" role="button">
                Voltar
            </a>

            <button type="submit" class="btn btn-outline-success">
                Salvar
            </button>
        </div>
    </form>

</div>